<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


	<ui:composition template="/welcomeAdmin.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
		</ui:define>
	
		<ui:define name="myContent">
			<h2>Créez vos promotions</h2>
			<h:form id="formAdd">
						
				   		Par sport : <h:selectOneMenu value="#{productMBean.sport}">
										<f:selectItems value="#{productMBean.sports}" var="sport" itemValue="#{sport.id}" itemLabel="#{sport.name}" />
									</h:selectOneMenu>
						Par genre : <h:selectOneMenu value="#{productMBean.gender}">
							   			<f:selectItems value="#{productMBean.genders}" var="gender" itemValue="#{gender.id}" itemLabel="#{gender.name}"/>
									</h:selectOneMenu>
						Par catégorie : <h:selectOneMenu value="#{productMBean.category}">
											<f:selectItems value="#{productMBean.categories}" var="category" itemValue="#{category.id}" itemLabel="#{category.name}" />
										</h:selectOneMenu>
						Par taille :	<h:selectOneMenu value="#{productMBean.size}">
								    		<f:selectItems value="#{productMBean.sizes}" var="size" itemValue="#{size}" />
										</h:selectOneMenu>
				   		Par couleur : 	<h:selectOneMenu value="#{productMBean.color}">
								    		<f:selectItems value="#{productMBean.colors}" var="size" itemValue="#{color}" />
										</h:selectOneMenu>
						
						<h:commandButton value = "Submit" action = "result" />
			<br />
			
				indiquez le taux de remise : 	<h:inputText value="#{promotionMBean.promo.amount}"/>
				indiquez la date de début : 	<h:inputText value="#{promotionMBean.promo.startDateInit}">
													<f:convertDateTime pattern = "dd-MM-yyyy" />
												</h:inputText>
				indiquez la date de fin : 	<h:inputText value="#{promotionMBean.promo.endDateInit}">
													<f:convertDateTime pattern = "dd-MM-yyyy" />
												</h:inputText>
			<h:commandButton value="Enregistrer la promotion" action="#{promotionMBean.doAddPromo()}"/>
			
			<div class="product-list">
			
			<br/>
				<ui:repeat var="product" value="#{productMBean.products}">
					<div class="elt">
						
							<h:commandLink action="productDetails.xhtml">
								<f:setPropertyActionListener value="#{product}" target="#{productDetailsMBean.product}"/>
								<div>
									<h:graphicImage class="" height="150" url="images/#{product.photos[0].path}" alt="photo du produit" />
								</div>
								<h1>#{product.name}</h1>
								<br />
							</h:commandLink>
						
					</div>
				</ui:repeat>
			</div>
			</h:form>
		</ui:define>
	
	</ui:composition>



</html>

